@media only screen {
  /* Adjust font size and line height for smaller screens */
  body {
    font-size: 14px;
    line-height: 1.3;
  }

  /* Center content on smaller screens */
  .container {
    margin: 0 auto;
    /* max-width: 90%; */
    max-width: 480px;
    height: 100vh;
    background-color: blue;
    padding: 10px;
  }

  /* Make images responsive */
  img {
    max-width: 100%;
    height: auto;
  }
}

.resultBlock {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
